<meta property="og:title" content="={{ .Site.Title }}">
<meta property="og:type" content="blog">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:image" content="{{ .Site.BaseURL }}images/ogp.png">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:description" content="{{ $.Site.Params.description }}">
<meta property="og:locale" content="ja_JP">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ .Site.Title }}">
<meta name="twitter:url" content="{{ .Permalink }}">
<meta name="twitter:title" content="{{ .Site.Title }}">
<meta name="twitter:description" content="{{ $.Site.Params.description }}">
<meta name="twitter:image" content="{{ .Site.BaseURL }}images/ogp.png">

